@charset "UTF-8";
/* reset.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  flex-shrink: 1;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-break: keep-all;
}

:lang(ko) {
  word-break: keep-all;
  word-wrap: break-word;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
hr {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  /* 스크롤 바의 색상 지정 */
  /* 스크롤 바 호버 시 색상 지정 */
}
html ::-webkit-scrollbar {
  width: 17px;
  /* 스크롤 바의 너비 */
  background-color: #f6f6f6;
  /* 스크롤 바의 배경색 */
}
html ::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  /* 스크롤 바의 색상 */
}
html ::-webkit-scrollbar-thumb:hover {
  /* 스크롤 바의 색상 */
}
html ::-webkit-scrollbar-button {
  width: 17px;
  height: 16px;
}

body {
  color: var(--color-darken);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

caption,
legend {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

table {
  border-spacing: 0;
  table-layout: fixed;
}

picture {
  display: inline-block;
}

picture > img {
  display: block;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  border: none;
}

img {
  vertical-align: top;
}

hr.type-dashed {
  border-top-style: dashed;
}
hr.type-hide {
  display: none;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  text-underline-position: under;
  color: var(--color-darken);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}
button:disabled {
  cursor: default;
}

input,
select,
textarea {
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000 !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

svg {
  fill: transparent;
}

:root {
  /* color */
  --color-white: #fff;
  --color-darken: #111;
  --color-black: #000;
  --color-point: #14378e;
}

/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Black.woff") format("woff"), url("fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Bold.woff") format("woff"), url("fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-ExtraBold.woff") format("woff"), url("fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-ExtraLight.woff") format("woff"), url("fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Light.woff") format("woff"), url("fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Medium.woff") format("woff"), url("fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Regular.woff") format("woff"), url("fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-SemiBold.woff") format("woff"), url("fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Thin.woff") format("woff"), url("fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "ONE-Mobile";
  font-style: normal;
  src: url("fonts/ONE-Mobile-Title.woff") format("woff"), url("fonts/ONE-Mobile-Title.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.container.fluid {
  max-width: 100%;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* common style */
.relative {
  position: relative;
}

.flex {
  display: flex;
}
.flex.align-center {
  align-items: center;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-ent {
  align-items: flex-end;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-start {
  justify-content: start;
}
.flex.justify-space-between {
  justify-content: space-between;
}

/* text */
.text-bold {
  font-weight: bold;
}

/* color */
.point {
  color: var(--color-point);
}

/* section animate */
.section .slide-up .slide-item1,
.section .slide-up .slide-item2,
.section .slide-up .slide-item3,
.section .slide-up .slide-item4 {
  opacity: 0;
  transform: translateY(100%);
}
.section .slide-up .slide-item1 {
  transition: 0.4s 0.2s;
}
.section .slide-up .slide-item2 {
  transition: 0.6s 0.2s;
}
.section .slide-up .slide-item3 {
  transition: 0.8s 0.2s;
}
.section .slide-up .slide-item4 {
  transition: 1s 0.2s;
}
.section.on .slide-up .slide-item1,
.section.on .slide-up .slide-item2,
.section.on .slide-up .slide-item3,
.section.on .slide-up .slide-item4 {
  opacity: 1;
  transform: translateY(0%);
}

.icon-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.icon-title.notice::before {
  content: "";
  width: 69px;
  height: 46px;
  display: block;
  background-image: url(https://revehit.github.io/oneshot2/assets/images/icon-notice.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-title.link::before {
  content: "";
  width: 65px;
  height: 30px;
  display: block;
  background-image: url(https://revehit.github.io/oneshot2/assets/images/icon-link.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* keyframe */
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-20px);
  }
}
/* landing */
#contents {
  position: relative;
  height: 100vh;
}
#contents .top {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  top: 0;
  z-index: 2;
}
#contents .top p {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-white);
  margin-top: 20px;
}

.landing-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
}

.inner {
  position: relative;
  z-index: 1;
}

.landing-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.landing-wrap .box {
  max-width: 450px;
}
.landing-wrap .box .title {
  font-size: 20px;
  text-align: center;
  background-color: var(--color-point);
  color: var(--color-white);
  padding: 10px 0;
}
.landing-wrap .box .thum {
  height: 400px;
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */